<div class="wrapper">
    <label class="btn magic">
        <input type="checkbox">
        <div class="icon options">
            <i class="fa fa-gear"></i>
        </div>
    </label>
    <div class="tool delete">
        <div class="icon">
            <i class="fa fa-trash"></i>
        </div>
    </div>

    <div class="tool add">
        <div class="icon">
            <i class="fa fa-plus"></i>
        </div>
    </div>

    <div class="tool fix">
        <div class="icon">
            <i class="fa fa-wrench"></i>
        </div>
    </div>

    <label class="tool search">
        <input type="checkbox">
        <div class="icon">
            <i class="fa fa-search"></i>
        </div>
        <div class="text">
            <input type="text">
        </div>
    </label>    

    <header>
        <span>Draggable Div</span>
    </header>
    <div class="content">
        <div class="icon"><i class="fa fa-arrows-alt"></i></div>
        <div class="title">Stackable Cards</div>
        <p>Stack them all</p>
    </div>
</div>
