<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moveable card</title>
    <link rel="stylesheet" href="../node_modules\font-awesome\css\font-awesome.min.css">
    <link rel="stylesheet" href="../Assets/style.css">
    <!-- Linking BoxIcon for Icon -->
</head>
<body>
    <div class="wrapper">
        <header>
            <span>Draggable Div</span>
        </header>
        <div class="content">
            <div class="icon"><i class="fa-solid fa-up-down-left-right"></i></div>
            <div class="title">Draggable Div</div>
            <p>This is draggable which is created using HTML CSS & javascript you can move this div anywhere on the document or page</p>
        </div>
    </div>
</body>

<script src="../Script/script.js"></script>
</html>